@import '../../scss/main.scss';

.MuiTabs-indicator {
    background-color: $main-red !important;
}

.MuiTab-textColorPrimary.Mui-selected {
    color: $main-red !important;
}

.short-cell {
    box-sizing: border-box;
    width: 120px;
}

.long-cell {
    box-sizing: border-box;
    width: 200px;
}