@import '../../scss/main.scss';

body {
    background-image: url("../../img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.main-app {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.main-app__content {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    margin-top: $main-spacing;
}

.add-torrent-wrapper {
    max-height: 346px;
    width: 550px;
    margin-right: 10px;
}

.main-logo {
    width: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.main-app__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MuiButton-outlined {
    border-color: $main-red !important;
}

.stream-button {
    color: $main-red;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    border: 1px solid $main-red;
    border-radius: 2px;
    padding: $main-spacing/2;
}

.stream-button__caption {
    padding-left: $main-spacing/2;
}